body{
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.822);
    font-size: 1.2rem;
}

.desc{
    margin: 7rem;
    margin-left: 30rem;
    margin-right: 30rem;
}

.start{
    text-decoration: none;
    color: white;
    border: solid black;    
    border-radius: 5px;
    padding: 4px;
    background-color: black;
}

h1{
    margin-top: 4rem;
}

.round{
    margin-top: 2rem;
    font-size: 2rem
}

.timer{
    font-size: 4rem;
}

.score{
    font-size: 3rem;
    position: relative;
    top: 6rem;
    right: 3rem;
    display: flex;
}

.score > *{
    margin: 1rem;
}

.p1Round{
    font-size: 3rem;
    position: absolute;
    left: 34%;
    top: 30rem;
}

.p2Round{
    font-size: 3rem;
    position: absolute;
    right: 34%;
    top: 30rem;
}

.players{
    margin-top: 2rem;
    display: inline-flex;
}

.players > img{
    width: 300px;
    border: solid black;
    border-radius: 5px;
}

.p1{
    margin-right: 100px;
}

@keyframes button{
    from {
        background-color: rgb(248, 40, 40);
        border: solid rgb(248, 40, 40);
    }
    to {
        background-color:gold;
        border: solid gold;
    }
}

#readyButton{
    margin-top: 3rem;
    border: solid rgb(248, 40, 40);
    border-radius: 5px;
    font-size: 1.5rem;
    background-color: rgb(248, 40, 40);
    padding: 10px;
    animation: button 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.choose{
    margin-top: 1rem;
}

.choose > *{
    margin: 5px;
}